# MariaDB 設定
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_DATABASE=energy
MARIADB_USER=user
MARIADB_PASSWORD=password

# オムロン計測ユニット設定
OMRON_IP=192.168.1.1
OMRON_DEVICE_ID=xxxxxxxx

# Grafana 設定
GRAFANA_ADMIN_PASSWORD=admin
